.construct-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 0; /* Убираем закругления */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.construct-inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 100%; /* Ширина секции на всю страницу */
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center; /* Центрируем надписи по горизонтали */
}

.section h3{
  padding-bottom: 20px;
}

.construct-inputs input {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 180px;
  height: 23px; /* Устанавливаем фиксированную высоту для полей */
}

.search-button {
  background-color: #f0c420;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 44px; /* Устанавливаем ту же высоту, что и для полей */
  align-self: center; /* Центрируем кнопку */
}

.search-button:hover {
  background-color: #e3b018;
}

.section label {
  font-weight: bold;
  margin-bottom: 5px; /* Отступ между надписью и полем ввода */
  text-align: center;
}
