.landing-section {
  background-color: rgba(176, 230, 255, 0.979);


}

.construct-section {
  background-color: rgba(176, 230, 255, 0.979);

  text-align: center;
}

.popular-section {

  background-color: rgba(227, 246, 255, 0.979);
  padding: 40px;
  text-align: center;
}

.planning-section {
  background-color: rgba(176, 230, 255, 0.979);

}

.WhyWe-section{
  margin-top: 200px;
  background-color: rgba(176, 230, 255, 0.979);

}

.tour-list,
.excursion-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


