/*gallery*/
.gallery {
    text-align: center;
    padding: 20px;
    background-color: #EFF3FD;
}

.gallery h2 {
    font-size: 2rem;
    color: #1A202C;
    margin-bottom: 20px;
}

.gallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.gallery-images img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.prev, .next {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.dots {
    display: flex;
    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: inline-block;
}

.active-dot {
    background-color: #000;
}


/* 📏 Контрольная точка до 1200px */
@media (max-width: 1200px) {
    .gallery-images img {
        width: 350px;
        height: 250px;
    }
}

@media (max-width: 768px) {
    .gallery-images {
        flex-direction: column;
        gap: 10px;
    }

    .gallery-images img {
        width: 100%;
        max-height: 200px;
        border-radius: 20px; /* 📱 скругление для мобильных */
    }
    
}

/* 📱 Очень маленькие экраны */
@media (max-width: 480px) {
    .gallery-images img {
        width: 100%;
        max-height: 150px;
        
    }

    .gallery h2 {
        font-size: 1.5rem;
    }
}