/*landing.css*/
.header {
    background-color: #AFDBFF; 
    color: rgb(0, 0, 0);

    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 70vh; 
} 

.header-content {
    padding-left: 40px; 
    max-width: 50%; 
    padding-right: 60px;
}

.project-name {
    font-size: 4rem;
    margin: 0;
    color: #1A202C;
}

.description {
    font-size: 1rem;
    text-align: justify;
}

.voc {
    max-width: 50%; 
    height: 95%; 
    object-fit: cover; 
    border-top-left-radius: 63px;

}

.cta-button {
    background-color: #FFD700; 
    color: black;
    width: 80%;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; 

}

.cta-button:hover {
    background-color: #f8d441; 
}


/* 1. От 768px до 1200px */
@media (min-width: 768px) and (max-width: 1200px) {
    .header {
      flex-direction: column;
      height: auto;
      text-align: center;
      padding: 30px 20px;
    }
  
    .header-content {
      max-width: 100%;
      padding: 0;
    }
  
    .project-name {
      font-size: 2.8rem;
    }
  
    .description {
      font-size: 1rem;
      text-align: justify;
    }
  
    .voc {
      max-width: 100%;
      height: auto;
      border-radius: 30px;
      margin-top: 20px;
    }
  
    .cta-button {
      width: 60%;
      font-size: 1.1rem;
    }
  }
  
  /* 2. До 768px */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
      padding: 20px;
      text-align: justify;
    }
  
    .header-content {
      max-width: 100%;
      padding: 0;
    }
  
    .project-name {
      font-size: 2.2rem;
    }
  
    .description {
      font-size: 0.95rem;
      text-align: justify;
    }
  
    .voc {
      width: 1%;

      visibility: hidden;
    }
  
    .cta-button {
      width: 100%;
      font-size: 1rem;
      padding: 12px 20px;
      margin-top: 15px;
    }
  }