/*landing.css*/
.header {
    background-color: #AFDBFF; 
    color: rgb(0, 0, 0);

    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 70vh; 
} 

.header-content {
    padding-left: 40px; 
    max-width: 50%; 
    padding-right: 60px;
}

.project-name {
    font-size: 4rem;
    margin: 0;
    color: #1A202C;
}

.description {
    font-size: 1rem;
    text-align: justify;
}

.voc {
    max-width: 50%; 
    height: 95%; 
    object-fit: cover; 
    border-top-left-radius: 63px;

}

.cta-button {
    background-color: #FFD700; 
    color: black;
    width: 80%;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; 

}

.cta-button:hover {
    background-color: #f8d441; 
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .header-content {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
    }

    .voc {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .cta-button {
        width: 100%;
        margin-top: 10px;
    }
}

/* Для маленьких экранов */
@media (max-width: 480px) {
    .project-name {
        font-size: 2.5rem;
    }

    .description {
        font-size: 0.9rem;
    }

    .cta-button {
        font-size: 1rem;
    }
}
