/* Payment.css */



.payment-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 50px;
    overflow-x: hidden;
}

.form-container {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.form-container h2, .form-container h3, .form-container p {
    color: #486284;
    margin: 10px;
}

.payment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payment-form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: #deecf8;
    margin: 10px;
}

.expiry-cvv-container {
    display: flex;
    justify-content: space-between;
}

.expiry-cvv-container input {
    width: 48%;
}

.pay-button {
    background-color: #FFD700;
    color: #486284;
    font-size: 18px;
    border: none;
    padding: 14px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.pay-button:hover {
    background-color: #e6b400;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f4f4f4; */
    border-radius: 25px;
    padding: 20px;
}

.image-container img {
    width: 150%;
    height: 105%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
