/*planning.css*/
.planning {
    background-color: #ffff;
    padding: 60px;
    text-align: center;
    height: 350px;
}

.planning h2 {
    font-size: 2em;
    color: #1A202C; 
}

.planning-steps {
    display: flex;
    justify-content: space-evenly;
    gap: 0px; 
    flex-wrap: wrap; /* Для адаптации при уменьшении экрана */

}

.planning-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px; /* Добавляем отступ снизу для удобства */
}


.planning-image {
    height: 40px; 
    margin-bottom: 10px;
    margin-top: 30px;
}

.planning-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #1A202C; 
    
}

.planning-line {
    width: 350px; 
    height: auto;
    object-fit: cover;
}

.line-step {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ⚠️ Скрыть линии от 1200 до 1400px */
@media (min-width: 1000px) and (max-width: 1400px) {
    .planning-line {
        display: none;
    }
}

/* 📱 Адаптация для ширины < 1000px */
@media (max-width: 1000px) {
    .planning {
        padding: 30px;
        height: auto;
    }

    .planning-steps {
        flex-direction: column;
        align-items: center;
    }

    .planning-step {
        flex-basis: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .planning-line {
        display: none;
    }

    .planning-title {
        font-size: 1rem;
    }

    .planning-image {
        margin-top: 10px;
    }
}



/* Для экранов до 480px */
@media (max-width: 480px) {
    .planning {
        padding: 20px;  /* Меньше отступов для мобильных */
        height: auto;    /* Убираем фиксированную высоту */
    }

    .planning-steps {
        flex-direction: column;
        align-items: center;
    }

    .planning-step {
        margin-bottom: 15px;  /* Уменьшаем отступы между блоками */
        flex-basis: 100%;     /* Каждый шаг занимает 100% ширины */
        text-align: center;   /* Центрируем текст */
    }

    .planning-line {
        width: 100%; /* Линия будет растягиваться на всю ширину экрана */
    }

    .planning-title {
        font-size: 0.9rem; /* Уменьшаем размер шрифта для маленьких экранов */
    }
}
