/* TourCard.css */
.tour-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease;

    height: 100%;
    
}


.tour-card:hover {
    transform: scale(1.05);
}

.tour-card img {
    width: 100%;
    height: 100%; 
    max-height: 220px; 
    object-fit: cover; 
    border-radius: 10px;
}

.tour-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.tour-card p {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
}

.book-now-button {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #FFD700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.book-now-button:hover {
    background-color: #e6b800;
}

.tour-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Карточки будут занимать доступное пространство */
    gap: 20px;
    margin: 20px 0;
}


/* Для маленьких экранов */
@media (max-width: 768px) {
    .tour-card {
        width: 100%;
        padding: 10px;
        
    }

    .tour-card img {
        max-height: 180px;
    }
}

/* Для очень маленьких экранов */
@media (max-width: 480px) {
    .tour-card {
        width: 100%;
        padding: 8px;
    }

    .tour-card img {
        max-height: 150px;
    }
}
